h2{
    font-size: 3rem;
}

.centered{
    z-index: 0;
}

.centered::after{
    background-image: none;
}

.login{
    background-color: white;
    padding: 20px;
    
    border: 1px solid var(--border-color);
    border-radius: 5px;
    min-width: 300px;
}

.login label{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
}

.login form{
    text-align: left;
    box-sizing: border-box;
}

.login form input[type="text"], .login form input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

#dni{
    text-transform: capitalize;
}

.login form button{

    background-size: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/espana.webp");
    border: 1px solid var(--border-color);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 20px;

}

.login form button:hover{
    background-color: var(--border-color);
}