@keyframes scaleAnimation{
    0%{
        filter: blur(10px);
    }
    25%{
        filter: blur(15px);
    }
    50%{
        filter: blur(5px);
    }
    75%{
        filter: blur(25px);
    }
    100%{
        filter: blur(10px);
    }
}

.votantesTitle{
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 2rem;
    margin: 0;
}

.eleccion{

    position: relative;
    cursor: pointer;
    width: 20%;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 50px;

    transition: .2s;

}

.eleccion::before{

    content: "";

    scale: 0.5;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 5px;

    filter: blur(10px);

    background: rgb(255,0,0);
    background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,231,0,1) 33%, rgba(255,231,0,1) 66%, rgba(255,0,0,1) 100%);

    transition: 0.2s;

}

.eleccion:hover::before {
    animation: scaleAnimation 5s infinite;
    scale: 1;
}

.eleccion img{
    width:100%;
}

#eleccionesFinalizadas{
    margin-bottom: 20px;
}

#notCentered{
    padding-top: 100px;
}

.canvasParent{
    width: 25%;
    margin: 0 auto;
}

#back{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 120px;

    position: absolute;
    top: 100px;
    left: 10px;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;

    transition: .2s;

}

#back:hover{

    width: 150px;
    

}

#back img{
    height: 100%;
}

.partidosAVotar{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 50px;
}

.partido{
    position: relative;
    background-color: white;
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;

    transition: .2s;

}

.partido::before{

    content: "";

    scale: 0.5;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 5px;

    filter: blur(10px);

    background: rgb(255,0,0);
    background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,231,0,1) 33%, rgba(255,231,0,1) 66%, rgba(255,0,0,1) 100%);

    transition: 0.2s;

}

.partido:hover::before {
    animation: scaleAnimation 5s infinite;
    scale: 1;
}

.partido .imgContainer{
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.partido h3{
    margin-top: 20px !important;
}

.partido h3, p{
    margin: 0;
}



.partido img{
    width: 100%;
}